.form {
	width: 400px;
	height: 300px;
	background-color: #f4f3f3;
	border-radius: 30px;
	border: 2px solid #bdbdbd;
}

.form h3 {
	font-size: 24px;
	color: #301b52;
}

.form input {
	width: 300px;
	height: 30px;
	outline: none;
	border-radius: 20px;
	margin-bottom: 10px;
	border: 1px solid #828282;
	text-align: center;
	font-size: 15px;
}

.form .login {
	width: 90px;
	height: 30px;
	border-radius: 20px;
	border: 1px solid #f2f2f2;
	background-color: #301b52;
    font-size: 15px;
    color: white;
}

.form .signUp {
	width: 90px;
	height: 30px;
	border-radius: 20px;
	border: 1px solid #f2f2f2;
	background-color: #DB0916;
    font-size: 15px;
    color: white;
}

.form h6 {
    font-size: 14px;
    color: #301b52;
}


